@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)</h1>

    <div class="d-flex justify-content-center mt-4">
        <img src="~/images/logo.png" alt="Logo" style="height: 300px;" />
    </div>
</div>

